.my-container {
  padding-top: 50px;
  height: 1000px;
  /* overflow-y: scroll; */
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar-row span {
  padding: 0px 5px;
}

img {
  height: 500px;
  width: 100%;
}

/* 
mat-toolbar-row div {
  flex: 1;
} */

/* .example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  /* height: unset;
  width: unset; */
  padding-top: 50px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* line-height: 60px; */
}