<div class="my-nav" style="margin-top:15px;">
  <nav mat-tab-nav-bar color='accent' backgroundColor='default' dynamicHeight='true' style="opacity: 1;" class="text-left">

    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">

      <span>
        <img [src]="link.icon" style="height:36px;width:36px;margin-right:5px;"> {{ link.label}}
      </span>


    </a>

    <div style="float:right;margin-right:20px;">

      <button mat-button color='warn' disabled>
        Booked By :{{userEmail}}
      </button>
      <button mat-raised-button color='accent' mat-tab-link [routerLink]='' (click)='logout()'>
        Logout
      </button>
    </div>
  </nav>

  <div style="margin-top:20px;">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="footer">
  <div class="container-fluid" style="background-color:white; width:98%;border-top:1px solid #cf8196">
    <div class="row text-center " fxLayout="row " fxLayoutAlign="space-between center ">
      <div fxFlex="20% " fxFlexOrder="1 ">
        <img src="assets/logo/mind.jpg " alt=" " srcset=" " style="width: 250px;height: 150px; ">
      </div>
      <div fxFlex="80% " fxFlexOrder="2 ">
        &copy;&nbsp;Mindtree 2018
      </div>
    </div>

  </div>
</div>